<div class="container-fluid">
    <form class="mulOrderNumDiv">
        <div class="row">
          <div class="col-md-3">
            <div>
              <label>Country: </label>
            </div>
            <select>
              <option value="select country">Select country</option>
              <option value="1">China</option>
              <option value="2">India</option>
              <option value="3">Japan</option>
              <option value="4">UK</option>
              <option value="5">USA</option>
            </select>
          </div>
          <div class="col-md-3">
            <div>
              <label>Start Date: </label>
            </div>
            <div>
              <input type="date" />
            </div>
          </div>
          <div class="col-md-3">
            <div>
              <label>Start Date: </label>
            </div>
            <div>
              <input type="date" />
            </div>
          </div>
          <div class="col-md-3">
            <button type="submit" class="btn btn-primary">Submit
            </button>
          </div>
        </div>
      </form>
      
  <table datatable [dtOptions]="dtOptions" class="row-border hover">
    <thead>
      <tr>
        <th>S.No.</th>
        <th>Order Number</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Row Item11</td>
        <td>Row Item12</td>
        <td>Row Item13</td>
        <td>Row Item14</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Row Item21</td>
        <td>Row Item22</td>
        <td>Row Item23</td>
        <td>Row Item24</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Row Item31</td>
        <td>Row Item32</td>
        <td>Row Item33</td>
        <td>Row Item34</td>
      </tr>
      <tr>
        <td>4</td>
        <td>Row Item41</td>
        <td>Row Item42</td>
        <td>Row Item43</td>
        <td>Row Item44</td>
      </tr>
      <tr>
        <td>5</td>
        <td>Row Item51</td>
        <td>Row Item52</td>
        <td>Row Item53</td>
        <td>Row Item54</td>
      </tr>
      <tr>
        <td>6</td>
        <td>Row Item61</td>
        <td>Row Item62</td>
        <td>Row Item63</td>
        <td>Row Item64</td>
      </tr>
      <tr>
        <td>7</td>
        <td>Row Item71</td>
        <td>Row Item72</td>
        <td>Row Item73</td>
        <td>Row Item74</td>
      </tr>
      <tr>
        <td>8</td>
        <td>Row Item81</td>
        <td>Row Item82</td>
        <td>Row Item83</td>
        <td>Row Item84</td>
      </tr>
      <tr>
        <td>9</td>
        <td>Row Item91</td>
        <td>Row Item92</td>
        <td>Row Item93</td>
        <td>Row Item94</td>
      </tr>
      <tr>
        <td>10</td>
        <td>Row Item101</td>
        <td>Row Item102</td>
        <td>Row Item103</td>
        <td>Row Item104</td>
      </tr>
      <tr>
        <td>11</td>
        <td>Row Item111</td>
        <td>Row Item112</td>
        <td>Row Item113</td>
        <td>Row Item114</td>
      </tr>
      <tr>
        <td>12</td>
        <td>Row Item121</td>
        <td>Row Item122</td>
        <td>Row Item123</td>
        <td>Row Item124</td>
      </tr>
    </tbody>
  </table>
</div>


